doctype html
html
  head
    link(rel='stylesheet', href='main.bundle.css')
    title Unity of Moral Attitudes
  body
    h1 The Unity of Moral Attitudes
    div.flash#back_flash.hidden
    div.flash#title_flash
      h1 The Unity of Moral Attitudes: Recipe Semantics and Credal Exaptation
    div.flash#thanks_flash.hidden
      h1.underline Thanks to the Organizers of Minds Online
      h4 Cameron Buckner
      h4 Nick Byrd
      h4 Bruce Rushing
      h4 John Schwenkler
    div.flash#thanks_2_flash.hidden
      h1.underline Thanks to My Commentators
      h4 Derek Baker
      h4 David Faraci
      h4 Tristram McPherson
    br
    br
    div.row
      div.column#video_column
        div#video_container
          video#video_element(src="pres6.mov")
      div.column#content_column
        div.row#top_row
        div.row#bottom_row
          ul.column.slides.up.hidden
            li.focused.focusable
              .column.space-around
                h3.underline The Unity of Moral Attitudes: <br> Recipe Semantics and Credal Exaptation
                h4 Derek Shiller
            li.focusable
              .column.space-around
                h3.underline Noncognitivism
                div
                  h4 Moral judgments are not beliefs.
                  h4 They lack distinctive representational contents.
            li.focusable
              .column.space-around
                img(src="noncogcomp.png" width="100%")
            li.focusable
              .column.space-around
                h3.underline Straightforwardly Predicative Moral Judgments
                h4 [action type] is [moral label]
            li.focusable
              .column.space-around
                h4 
                  span It is 
                  span.red_underline not
                  span  wrong to collect trophies of extinct species.
            li.focusable
              .column.space-around
                h4
                  span.red_underline If it had been
                  span  wrong to bring children into this world, we would not have done it.
            li.focusable
              .column.space-around
                h4
                  span You 
                  span.red_underline should
                  span  keep track of what you 
                  span.blue_underline shouldn't
                  span  do.
            li.focusable
              .column.space-around
                h4
                  span.red_underline Uncertainty
                  span  about right and wrong.
            li.focusable
              .column.space-around
                h3 The Problem
                h4 What do all moral attitudes have in common,<br> if not a single motivational influence?
            li.focusable.invisible
              .column.space-around
            li.focusable
              .column.space-around
                h3 Representational Theory of Mind
                h4 Propositional attitudes involve cognitive representations.
            li.focusable
              .column.space-around
                h3 Presentational Theory of Mind
                h4 Minds employ non-representational structures <br> that look just like its representations.
            li.focusable
              .column.space-around
                h3 Moral Concepts
                h4 Concepts with a certain role in the context <br> of straightforward predicative moral judgments.
            li.focusable.invisible
              .column.space-around
            li.focusable
              .column.space-around
                h3 Spandrels Proposal
                h4 Moral attitudes other than judgments arose as byproducts of selection for moral judgments.
            li.focusable
              h3
              .column.space-around
                h4 Moral sentiments -- emotions and feelings -- are old.
                h4 Moral attitudes -- relations to re/presentations -- are young.
            li.focusable
              .column.space-around
                h3 Exaptation Proposal
                div
                  h4 Moral judgments developed out of ordinary beliefs.
                  h4 Other moral attitudes result from syntactic properties shared with representations.
            li.focusable
              .column
                h3 Summary
                ol.column.space-around(style="text-align: left")
                  li Moral attitudes include moral concepts.
                  li Moral concepts are characterized by their role in the context of moral judgments.
                  li The Unity of Moral Attitudes results from the implementational identity of moral concepts.
                  li They have no particular function in other contexts, because of their origin as spandrels.
  script(src='bundle.js')
