doctype html
html
  head
    link(rel='stylesheet', href='main.bundle.css')
    title Unity of Moral Attitudes
    script(src='bundle.js')
  body
    h1 Unity of Moral Attitudes
    div.row
      div#video_container
        video#video_element(autoplay="true")
      div#right_box
        h2 Outline of Issues
        ol
          li.problem The Problem of the Menagerie of Moral Attitudes
          li.solution A Recipe Semantics Solution
          li.evolutionary_story An Evolutionary Account of the Structure of Moral Attitudes
    hr
