.hidden
  display: none


body
  background: ghostwhite

h1
  color: darken(grey, 30%)
  text-shadow: -1px 1px darken(grey, 10%)
  text-align: center

hr
  width: 80%

#video_container
  width: 25%

#video_element
  width: 100%
  background: grey

.row
  display: flex
  justify-content: space-between
  flex-direction: row

#right_box
  width: 70%

  ol
    font-size: 30px
    list-style: none

    li:not(:first-of-type)
      margin-top: 20px

#menagerie:not(.hidden)
  display: flex
  list-style: none
  &>li
    margin-left: 30px
    max-width: 30%
    text-align: center
    padding: 5px
  ul
    text-align: left
    li
      margin-top: 10px
      margin-bottom: 15px

li.focused
  background: ivory
  border: 1px solid beige
  border-radius: 10px
  box-shadow: 3px 3px rgba(10,10,10,.2)

span.underline
  text-decoration: underline

p
  font-size: 20px

.content_box
  padding: 10%
