.hidden, .hidden.column
  display: none

.invisible
  visibility: hidden

html
  height: 100%
  width: 100%

body
  background: linear-gradient(to bottom right, lighten(ghostwhite, 20%), lighten(ghostwhite, 10%)); /* Standard syntax */
  height: 100%
  width: 100%

*
  transition: color .25s

h1
  color: darken(grey, 30%)
  text-shadow: -1px 1px darken(grey, 10%)
  text-align: center

hr
  width: 80%

#top_row

#bottom_row
  flex-grow: 2
  overflow: hidden
  width: 800px

#video_column
  width: 20%
#video_container
  width: 400px
  overflow: hidden
  display: flex
  align-content: center
  border: 3px solid black
  background: grey
  height: 600px

#video_element
  width: 1000px
  margin-left: -110px
  transform: scaleX(-1)

.row
  display: flex
  justify-content: space-between
  flex-direction: row

#content_column
  height: 85%
  width: 65%

.column
  display: flex
  flex-direction: column
  height: 100%

#right_box
  width: 70%

  ol
    font-size: 30px
    list-style: none

    li:not(:first-of-type)
      margin-top: 20px

.slides:not(.hidden)
  display: flex
  list-style: none
  transition: transform 1s
  &>li
    margin-left: 30px
    text-align: center
    padding: 5px
    width: 500px
    height: 300px
    &:not(.focused)
      color: grey
  ul
    justify-content: space-around
    padding: 0px 30px 30px 30px 
    text-align: left
    height: 80%
    list-style: none
    li
      font-size: 23px

li.focusable
  border: 1px solid beige
  opacity: .5
  background: ivory
  box-shadow: 3px 3px rgba(10,10,10,.05)
  &.focused
    opacity: 1
    border: 1px solid darken(beige, 20%)
    box-shadow: 3px 3px rgba(10,10,10,.2)

span.underline
  text-decoration: underline

span.red
  color: red

p
  font-size: 20px

.tcenter
  text-align: center
.content_box
  padding: 10%
